    <article>
        <div class="container">
            <div class="row article-content">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <h2 class="section-heading"><%= @article.title %></h2>
    <hr>
                    
                    <p><%= simple_format(@article.description) %></p>
                </div>
            </div>
        </div>
    </article>
