<div class="container">
  
  <div class="row center">
    <div class="container index-articles">
      
    <%= will_paginate %>
      <h2 align="center">Artigos Publicados.</h2>
    </div>
  </div>
  <%= link_to 'Escreva o seu próprio artigo!!', new_article_path, class: 'btn btn-primary' %>
  <%= render 'article', obj: @articles %>
  <div class="row center">
    <%= will_paginate %>
  </div>
</div>
