<h1>Nois</h1>
<hr>
<div align="center">
	
<%= link_to "Create a new Article", new_article_path, class: "btn btn-lg btn-success" %>
</div>
<hr>

<!-- Default panel contents -->
<h3 align="center">Articles List
</h3>
<%= render 'article', obj: @articles %>