<ul>
	<% if @article.errors.any? %>
	<h2>The article was not created, fix the following items</h2>
	<% @article.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>
	<% end %>
</ul>

<div class="container">
	
	<h2> Create an Article</h2>
	<%= render 'form' %>
	<%= link_to "Home", root_path %>
</div>
