<div class="container">
	

<div class="row center">
	<h1>Hello <%= @user.username.capitalize %></h1>
	<div>
		<%= gravatar_for @user %>
	</div>
	<%= will_paginate @user_articles %>
</div>

<h4 align="center"> Your articles</h4>
<%= render 'articles/article', obj: @user_articles %>
</div>