<div class="container">
	
<h1>Hello <%= @user.username %></h1>

<div class="row center">
	<div>
		<%= gravatar_for @user %>
	</div>
</div>

<h4 align="center"> Your articles</h4>
<%= will_paginate @user_articles %>
<%= render 'articles/article', obj: @user_articles %>
</div>