<header id="top" class="header">
	<div class="text-vertical-center">
		<h1>Welcome!</h1>
		<h3>Sinscrevasse</h3>
		<br>
	  <%= link_to "Sign Up", signup_path, { class: 'btn btn-success' } %>
	  <%= link_to "About", about_path, { class: 'btn btn-primary' } %>
	</div>
</header>