<header id="top" class="header">
	<div class="text-vertical-center">
		<h1>Welcome!</h1>
		<h2>Se tu não faz parte</h2>
		<h3>Sinscrevasse</h3>
		<br>
	  <%= link_to "Sign Up", signup_path, { class: 'btn btn-success' } %>
	  <h4>Caso contrário</h4>
	  <%= link_to 'Faça o Login', login_path, { class: 'btn btn-primary' } %>
	</div>
</header>