About

<div class="jumbotron">
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam interdum, neque at hendrerit lobortis, risus lectus congue diam, molestie gravida lectus purus a ipsum. Suspendisse a est turpis. Ut et maximus enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam vitae nisi dui. Donec turpis risus, eleifend sed suscipit nec, facilisis sed diam. Proin nec orci sed quam lacinia ultricies. In ullamcorper accumsan fringilla.

Nunc in lacus aliquet, auctor elit et, elementum eros. Morbi feugiat metus ac imperdiet dictum. Curabitur non ipsum semper est dignissim semper vel vitae tortor. Pellentesque eu nisl leo. Maecenas elementum nibh a elit semper, eget interdum odio bibendum. Integer ipsum enim, cursus id consequat eget, maximus et ante. Suspendisse quis nisi at nisl interdum cursus. Vestibulum justo ante, dignissim nec accumsan quis, feugiat eu ante. Nullam vulputate neque eget massa blandit rhoncus. Proin et accumsan mi. Etiam interdum quam id est consectetur euismod. Cras iaculis mauris dui, eget elementum lacus congue non. In vitae sem elementum, laoreet magna nec, semper leo. Morbi eget ligula sed ipsum fringilla pulvinar. Donec imperdiet eget dolor eu maximus. </p>
	<%= link_to 'Index', index_path %>
</div>