Index
<div class="jumbotron">

	<div class="row">
		<div class="col-xs-12 col-md-8">
		<div class="container">
			<img src="http://data.whicdn.com/images/220384517/large.jpg" class="img-responsive" alt="Responsive image">
		</div>

		</div>
		<div class="col-xs-6 col-md-4">
			<div class="container">

				<div class="list-group">
					<a href="#" class="list-group-item active">
						<h4 class="list-group-item-heading">Article 1</h4>
						<p class="list-group-item-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 150</p>
					</a>
				</div>
				<div class="list-group">
					<a href="#" class="list-group-item active">
						<h4 class="list-group-item-heading">Article 2</h4>
						<p class="list-group-item-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 150</p>
					</a>
				</div>
				<div class="list-group">
					<a href="#" class="list-group-item active">
						<h4 class="list-group-item-heading">Article 3</h4>
						<p class="list-group-item-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 150</p>
					</a>
				</div>
			</div>
		</div>
	</div>
	<%= link_to 'About', about_path %>
</div>