  
<div class="jumbotron center">
  <div class="container">
<div class="container">
  <%= link_to "Sign Up", signup_path, { class: 'btn btn-danger btn-index' } %>
</div>
    <h2>Welcome </h2>
  </div>
</div>
<hr>
