<div class="container">
    <div class="row">
      <%= link_to 'Criar uma Conta', new_bill_path %>
    </div>
  </div>
</div>
<div class="container">

<hr>
<hr>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Contas</h3>
  </div>
  <div class="panel-body">
    <table class="table">
      <tr>Nome da conta</tr>
      <tr>Descrição</tr>
      <tr>Valor</tr>
      <% @bills.each do |bill| %>
      <tr>

        <td><%= bill.bill_name %></td>
        <td><%= bill.description %></td>
        <td><%= bill.value %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
