<div class="container">
    <div class="row">
	    <% @bills.each do |bill| %>
	    <h3><%= bill.bill_name %></h3>
	    <strong><%= bill.value %></strong>
	    <% end %>
      <%= link_to 'Criar uma Conta', new_bill_path %>
    </div>
  </div>
</div>
