
<div class="jumbotron">
	<div class="container">
		<div class="btn-group" role="group" aria-label="...">
			<button type="button" class="btn btn-default">Left</button>
			<button type="button" class="btn btn-default">Middle</button>
			<button type="button" class="btn btn-default">Right</button>
		</div>
		<hr>
		
		<div class="container">
		<div class="table-responsive">
			<table class="table">
				<tr>
					<th><p>novas</p></th>
				</tr>
				<tr>
					<td><p>novas 2</p></td>
				</tr>
			</table>
		</div>
	</div>
</div>
</div>