<div class="container">
  <div class="row">
    <h2 align="center">Categoria <%= @category.category_name %> em edição</h2>
  </div>
  <hr>
</div>

<div class="container">
  <div class="row">
  <div class="col-xs-10 col-xs-offset-2">
    <%= render 'form' %>
  </div>
  </div>
</div>