<div class="container">

	<h1 align="center">Listing All Categories</h1>
	<hr>
	<div class="row center">
		<div class="col-md-8 col-md-offset-2">
		<% @categories.each do |category| %>
			<span class="badge badge-index" > <%= link_to category.category_name, category_path(category), class: 'btn btn-success btn-xs' %>  </span>
		<% end %>
		</div>
	</div>
</div>

	<% if is_admin? %>
		<%= link_to "New category", new_category_path, class: "btn btn-success" %>
	<% end %>
