<div class="container">
	<div class="row">
<%= will_paginate @category_articles %>
		<h3><%= @category.category_name %></h3>
		<hr>a 
		<%= render 'articles/article', obj: @category_articles %>
	</div>
<%= will_paginate @category_articles %>
</div>
