<div class="container">
	<div class="row">
<%= will_paginate @category_articles %>
		<h3> Artigos escritos sobre <strong><%= @category.category_name.capitalize %></strong></h3>
		<%= render 'articles/article', obj: @category_articles %>
	</div>
<%= will_paginate @category_articles %>
</div>
